.indexer-cluster-summary {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    line-height: 26px;
    padding-top: 30px;
    padding-bottom: 50px;
}

.indexer-cluster-summary-single-value {
    display: inline-block;
    width: 33%;
}

.indexer-cluster-count {
    text-align: center;
}

.indexer-cluster-count-value {
    display: inline-block;
    width: 50%;
    line-height: 26px;
}

.indexer-cluster-count-value-searchable {
    font-size: 24px;
    font-weight: bold;
}

.indexer-cluster-count-value-not-searchable {
    font-size: 24px;
    font-weight: bold;
    padding-left: 2em;
}

.index-cluster-count-under-label {
    text-align: center;
    padding-bottom: 30px;
}

.index-cluster-count-under-label-value {
    display: inline-block;
    width: 50%;
}

.icon-check {
    color: #9ac23c;
    margin-right: 0.5em;
}

.icon-alert {
    color: #d85d3c;
    margin-right: 0.5em;
}